
* {
//    font-family: "Source Sans Pro";
    font-family: "Muli";
}

code {
    font-size: 13px !important;
    font-family: Source Code Pro !important;
}

pre {
    font-family: Source Code Pro !important;
    font-size: 13px;
}
.pdate { word-wrap: none; }

.adbump {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 15px;
}
