
* {
    font-family: "Open Sans" !important;
}

a {
    text-decoration: none !important;
}

p,li {
    font-size: 80%;
}

code {
    font-size: 13px !important;
    font-family: Source Code Pro !important;
}

pre {
    font-family: Source Code Pro !important;
    font-size: 13px;
}
.pdate { word-wrap: none; }

.adbump {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 15px;
}

.lisp {
    width: 100px;
    height: 71px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-image: url(/images/lisp-logo-transparent.png);
}

.symbolics {
    width: 150px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(/symbolics.png);
}

.fjotar {
  margin-left: auto;
}

#related {
    font-size: 15px;
}
