<html>
	<head>
			<script src="http://ajax.googleapis.com/ajax/libs/webfont/1.0.9/webfont.js"></script>
		<script type="text/javascript">
			WebFontConfig = {
			  google: { families: ['Open Sans','Anonymous Pro'] }
			};
			(function() {
			var wf = document.createElement('script');
			wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			wf.type = 'text/javascript';
			wf.async = 'true';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(wf, s);
			})();
		</script>
    
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Clint Moore</title>
		<meta name="author" content="Clint Moore" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="/bootstrap/css/bootstrap.min.css"
          type="text/css"
          media="screen, projection" />
    <link rel="stylesheet"
          href="/bootstrap/css/bootstrap-responsive.min.css"
          type="text/css"
          media="screen, projection" />
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26268420-1']);
      _gaq.push(['_setDomainName', 'ivy.io']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
	</head>
	<body>
		<div class="container" style="margin-top:10px;">
			{{ content }}
      <div class="row">
        <div class="span12">
					<p>
						clint@ivy.io &nbsp;
						<a href="http://github.com/cmoore/">github</a> &nbsp;
						<a href="http://twitter.com/hydo/">twitter</a>&nbsp;
						<a href="http://www.haskellers.com/user/3/">haskellers</a>&nbsp;
						<a href="http://forrst.me/hydo">forrst</a>&nbsp;
            <a href="/atom.xml">Atom</a>&nbsp;
          </p>
				</div>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
	</body>
</html>
