<html>
	<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Code+Pro" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Clint Moore</title>
		<meta name="author" content="Clint Moore" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta content="{{page.description}}" name="description" />
    <meta content="{{page.keywords}}" name="keywords" />

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/ivy.css" type="text/css" media="screen" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26268420-1']);
  _gaq.push(['_setDomainName', 'ivy.io']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
	</head>
	<body>
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">ivy.io</a>
          <ul class="nav pull-right">
            <li><a href="http://github.com/cmoore/">github</a></li>
				    <li><a href="http://twitter.com/hydo/">twitter</a></li>
				    <li><a href="http://www.haskellers.com/user/3/">haskellers</a></li>
				    <li><a href="http://forrst.me/hydo">forrst</a></li>
          </ul>
        </div>
      </div>
    </div>

		<div class="container" style="margin-top:10px;">
			{{ content }}
    </div>
	</body>
</html>
